<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>I need a hero</title>
</head>
<body>
  <h1><%= @team.name %></h1>
  <h2>Team Motto: <%= @team.motto %></h2>

  <h2>Hero Name: <%= @members[0].name %></h2>
  <h3>Hero Power: <%= @members[0].power %></h3>
  <h3>Hero Biography: <%= @members[0].biography %></h3>

  <h2>Hero Name: <%= @members[1].name %></h2>
  <h3>Hero Power: <%= @members[1].power %></h3>
  <h3>Hero Biography: <%= @members[1].biography %></h3>

  <h2>Hero Name: <%= @members[2].name %></h2>
  <h3>Hero Power: <%= @members[2].power %></h3>
  <h3>Hero Biography: <%= @members[2].biography %></h3>
</body>
</html>


